    </div>
    <script src="/assets/vendor/jquery3/jquery-3.4.1.min.js"></script>
    <script src="/assets/vendor/bootstrap4/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/vendor/fontawesome5/js/solid.min.js"></script>
    <script src="/assets/vendor/fontawesome5/js/fontawesome.min.js"></script>
    <script src="/assets/vendor/chartsjs/Chart.min.js"></script>
    <script src="/assets/js/dashboard-charts.js"></script>
	<script src="/assets/js/picker.js"></script>
	<script src="/assets/js/picker.time.js"></script>
    <script src="/assets/js/script.js"></script>
	<% if (typeof hours !== 'undefined' && hours) { %>
		<script type="text/javascript">
			$('#sundayOpen').pickatime();
			$('#sundayClose').pickatime();
			$('#mondayOpen').pickatime();
			$('#mondayClose').pickatime();
			$('#tuesdayOpen').pickatime();
			$('#tuesdayClose').pickatime();
			$('#wednesdayOpen').pickatime();
			$('#wednesdayClose').pickatime();
			$('#thursdayOpen').pickatime();
			$('#thursdayClose').pickatime();
			$('#fridayOpen').pickatime();
			$('#fridayClose').pickatime();
			$('#saturdayOpen').pickatime();
			$('#saturdayClose').pickatime();
      const ts = new Date().getTime();
      setInterval(function() {
         $('#liveView').html('<img src="/view.png?ts='+ ts +'" width="100%" height="100%" />');
       }, 15000);
		</script>
	<% } %>
</body>
</html>
