<!doctype html>
<!--
* Bootstrap Simple Admin Template
* Email: heyalexluna@gmail.com
* Version: 1.1
* Author: Alexis Luna
* Copyright 2019 Alexis Luna
* Website: https://github.com/mralexisluna/bootstrap-simple-admin-template
-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dashboard | SimpleSignage</title>

    <link href="assets/vendor/bootstrap4/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/master.css" rel="stylesheet">
    <link href="assets/vendor/chartsjs/Chart.min.css" rel="stylesheet">
    <link href="assets/vendor/flagiconcss3/css/flag-icon.min.css" rel="stylesheet">
	<link href="assets/css/classic.css" rel="stylesheet">
	<link href="assets/css/classic.time.css" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <nav id="sidebar" class="active">
            <div class="sidebar-header">
                <h2>SimpleSignage</h2>
                <h4><em>by Jeffrey Rescignano</em></h4>
            </div>
            <ul class="list-unstyled components">
                <li>
                    <a href="/"><i class="fas fa-home"></i> Dashboard</a>
                </li>
            </ul>
        </nav>
